/*csslint ids:false, box-model: false*/
/*********************************************************
General
*********************************************************/

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    /*  Max width is related to width. But instead of width, max-width that it can be smaller for mobile devices/ tablest  */
    margin: 0 auto;
    max-width: 940px;
    padding: 0 5%;
}

header {
    -webkit-box-shadow: 0 16px 12px -6px black;
    -moz-box-shadow: 0 16px 12px -6px black;
    box-shadow: 0 16px 12px -6px black;
}

.space {
    padding-top: 9px;
}

.navbar navbar-inverse navbar-fixed-top {
    -webkit-box-shadow: 0 16px 12px -6px black;
    -moz-box-shadow: 0 16px 12px -6px black;
    box-shadow: 0 16px 12px -6px black;
    background-color: cadetblue;
}

#logo {
    margin: 0;
    text-align: center;
    
}

h1 {
    font-family: 'Arimo', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    /*1st value is for top. 2nd value is for left and right. 3rd valueis for the bottom*/
    margin: -5px 0 0;
    font-weight: normal;
}

h3 {
    margin: 0 0 1em 0;
}


/*********************************************************
Footer
*********************************************************/

.social-media {
    margin: 0 5 px
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}

.bmw {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}
[

/*********************************************************
Pagee Portfolio
*********************************************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    text-align: center;
    color: black;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: darkorange;
}


/*********************************************************
About me page
*********************************************************/

.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}


/*********************************************************
Contact Page
*********************************************************/

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info .mail a {
    background-image: url('../img/mail-icon.png')
}

.contact-info li.twitter a {
    background-image: url('../img/Twitter-icon.png')
}


/*********************************************************
Colors
*********************************************************/

body {
    background-color: gray;
    color: #999;
}

a {
    color: cadetblue;
}

img {
    max-width: 100%;
}

header {
    background: lightgrey;
}

h1,
h2 {
    color: darkcyan
}


/*********************************************************
Media Queries
*********************************************************/

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    .jumbotron {
        padding-top: 100px;
        background-color: ;
        padding-bottom: 500px;
    }
    /* Three Colum LayoutPortfolio */
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}

.navbar,
nav {
    -webkit-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
}
